/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../content/images/jhipster_family_member_3.svg') no-repeat center top;
  background-size: contain;
}

.input-show-number {
  width: 30%;
  margin-bottom: 30px;
}

.refresh-button {
  margin-bottom: 30px;
}

.text-check {
  font-size: 30px;
  padding: 30px;
  flex: auto;
}

.hiragana-item {
  display: flex;
  border: groove 1px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  width: 100%;
}

.hiragana-k {
  margin-right: 190px;
}

.hiragana-v {
  color: red;
}
